.*.swp
.*.swo
*.pyo 
__pycache__
tmp
build
debug.txt
kitti
evaluation
poses.txt
map.json
config.pyc 
thirdparty/g2opy
thirdparty/pangolin 
matches.txt 
map.png
.vscode 
videos/webcam
.idea

kf_info.log 
local_mapping.log 
tum_association_matches.txt 

thirdparty/protoc 